* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary:rgb(82, 157, 32);
}
body{
    height:auto;
    background-color: #201d1d;
}
section {
    height: 100vh;
    background-color: #000;
    background-image: url('./bg.jpg');
    display:flex;
    background-size: cover;
    background-position: center;
}
li{
    list-style: none;
    color: #fff;
}
img{
    width: 2rem; 
    height: 2rem; 
    margin-right: 1rem;
    border-radius: 50%;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: rgb(61, 188, 239);
}


header{
    position: relative;
    padding: 0 2rem;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .title a{
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .link{
    display: flex;
    gap : 2rem;
}
.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition:height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display:flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 992px){
    .navbar .link,
    .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}
@media (max-width:576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}